/* CSS
tipoSelector {
    propiedad:valor;
}

*/

/* Selector Universal 
*{
    margin: 0;
    padding: 0;
}*/

/* Elemento o etiqueta */
html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: tomato;
}

div{
    background: white;
}
h1{
    text-transform: uppercase;
}

/*h2{
     color: white; 
}*/

/* Clase */
.destacado{
    color: tomato;
    text-align: center;
    border-bottom:1px solid tomato;
}
.titulo{
    background: rgba(231, 205, 13, 0.931);
    text-align: center;
    padding: 1%;
    border-radius: 5px;
}

/* id */
#mainContent{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 20px;
    box-sizing: border-box;
}
a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}

#noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(180, 180, 180);
    padding: 2%;

    }
    .noticia{
        /* border: 1px solid; */
        width: 30%;
        border-radius: 10px;
        margin-bottom: 20px;
        border-bottom: 3px yellow solid;
    }
    .img-noticia{
        
    }
    .img{
        width: 100%;
    }
    .text-noticia{
            padding: 2%;
            font-size: 14px;
        }